<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Nyshu Pasteles</title>

  <!-- CSS  -->
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>

</head>
<body>

  <nav class="purple" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="http://nyshu.com.mx" class="brand-logo"><img src="img/navbar/Logo.jpg" alt="Logo img"></a>
      <ul class="right hide-on-med-and-down">
          <li><a href="products.html">Productos</a></li>
          <li><a href="services.html">Servicios</a></li>
          <li><a href="aboutUs.html">Nosotros</a></li>
          <li><a href="contacts.phtml">Contacto</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
          <li><a href="products.html">Productos</a></li>
          <li><a href="services.html">Servicios</a></li>
          <li><a href="aboutUs.html">Nosotros</a></li>
          <li><a href="contacts.phtml">Contacto</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
    </div>
  </nav>

  <div class="container">
      <br>
      <br>
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3732.876373805066!2d-103.355631!3d20.674608000000003!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8428b1fce3244caf%3A0xc6bdc239b8c8d1fa!2sJuarez!5e0!3m2!1ses!2smx!4v1426455837200" width="100%" height="400" frameborder="0" style="border:0"></iframe>
      <div class="center-align" style="font-weight: bold;">
          <p>Av. Juarez 500 Col. Americana, Guadalajara Jalisco, México</p>
      </div>
      <div class="section">
          <h4>Contáctanos</h4>
          <hr class="grey-text lighten-5">
          <!--   Form Section   -->
          <div class="row">
              <form class="col s12" action="email.php" method="POST">
                  <div class="row">
                      <div class="input-field col s6">
                          <i class="mdi-action-account-circle prefix"></i>
                          <input name='name' id="icon_prefix" type="text" class="validate">
                          <label for="icon_prefix">Nombre Completo</label>
                      </div>
                      <div class="input-field col s6">
                          <i class="mdi-communication-email prefix"></i>
                          <input name='email' id="icon_email" type="tel" class="validate">
                          <label for="icon_email">Email</label>
                      </div>
                  </div>
                  <div class="row">
                      <div class="input-field col s6">
                          <i class="mdi-communication-call prefix"></i>
                          <input name='phone' id="icon_telephone" type="text" class="validate">
                          <label for="icon_telephone">Teléfono</label>
                      </div>
                      <div class="input-field col s6">
                          <i class="mdi-communication-comment prefix"></i>
                          <input name='comment' id="icon_message" type="tel" class="validate">
                          <label for="icon_message">Comentarios</label>
                      </div>
                  </div>

                  <button href="emailEnviado.html" class="btn waves-effect waves-light" type="submit" name="action">Contactar
                      <i class="mdi-content-send right"></i>
                  </button>

              </form>
          </div>
      </div>
  </div>

  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l3 s12">
          <div><img src="img/footer/LogoFooter.jpg" alt="Nyshu img"></div>
        </div>
        <div class="col l4 s12 offset-l1">
          <h5 class="grey-text">Contáctanos</h5>
          <br>
          <i class="Tiny mdi-communication-location-on grey-text"> </i>
          <span class="grey-text text-lighten-2"> Av siempre viva sur #456 Col. Anime, Jalisco México. C.P. 45555.</span>
          <br>
          <i class="Tiny mdi-communication-email grey-text"> </i>
          <span class="grey-text text-lighten-2"> contacto@nyshu.com</span>
          <br>
          <i class="Tiny mdi-communication-call grey-text"> </i>
          <span class="grey-text text-lighten-2"> 01(33)33333333</span>
        </div>
        <div class="col l3 s12 offset-l1">
          <h5 class="grey-text">Síguenos</h5>
            <br>
            <a class="grey-text text-lighten-2" href="https://www.facebook.com/pages/Nyshu/449515308527770?fref=photo"><img src="img/footer/fbCircle50.png" alt="Nyshu img"></a>
            <a class="grey-text text-lighten-2" href="http://youtube.com"><img src="img/footer/youCircle50.png" alt="Nyshu img"></a>
            <br>
            <a class="grey-text text-lighten-2" href="http://plus.google.com"><img src="img/footer/gplusCircle50.png" alt="Nyshu img"></a>
            <a class="grey-text text-lighten-2" href="https://twitter.com/nyshunyshu"><img src="img/footer/twCircle50.png" alt="Nyshu img"></a>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
          &copy; Copyright 2015 - <a class="purple-text text-lighten-2" href="http://nyshu.com.mx">Nyshu</a> - Todos los derechos reservados.
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="js/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>
