<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Nyshu Pasteles</title>

  <!-- CSS  -->
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>

</head>
<body>

  <nav class="purple" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="http://nyshu.com.mx" class="brand-logo"><img src="img/navbar/Logo.jpg" alt="Logo img"></a>
      <ul class="right hide-on-med-and-down">
          <li><a href="products.html">Productos</a></li>
          <li><a href="services.html">Servicios</a></li>
          <li><a href="aboutUs.html">Nosotros</a></li>
          <li><a href="contacts.phtml">Contacto</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
          <li><a href="products.html">Productos</a></li>
          <li><a href="services.html">Servicios</a></li>
          <li><a href="aboutUs.html">Nosotros</a></li>
          <li><a href="contacts.phtml">Contacto</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
    </div>
  </nav>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center purple-text text-darken-3">Nyshu Pasteles</h1>
        <div class="row center">
          <h5 class="header col s12 light">Un moderno estilo de pasteles hecho a la medida.</h5>
        </div>
        <div class="row center">
          <a href="http://nyshu.com/contacts.phtml" id="download-button" class="btn-large waves-effect waves-light purple">Ordenar</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="img/index/pastelNuez.jpg" alt="pastelNuez img"></div>
  </div>

  <div class="container">
      <div class="section">

          <div class="row">
              <div class="col s12 center">
                  <h3><i class="mdi-maps-store-mall-directory grey-text"></i></h3>
                  <h4>Lo más vendido</h4>
                  <p class="left-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
              </div>
          </div>

      </div>
  </div>

  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore. </h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="img/index/chela31.jpg" alt="chela31 img "></div>
  </div>

  <div class="container">
      <div class="section">

          <!--   Icon Section   -->
          <div class="row">
              <div class="col s12 m4">
                  <div class="icon-block">
                      <h2 class="center grey-text"><i class="mdi-image-tonality"></i></h2>
                      <h5 class="center">Texto</h5>

                      <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                  </div>
              </div>

              <div class="col s12 m4">
                  <div class="icon-block">
                      <h2 class="center grey-text"><i class="mdi-social-group"></i></h2>
                      <h5 class="center">Texto</h5>

                      <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                  </div>
              </div>

              <div class="col s12 m4">
                  <div class="icon-block">
                      <h2 class="center grey-text"><i class="mdi-image-tag-faces"></i></h2>
                      <h5 class="center">Texto</h5>

                      <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                  </div>
              </div>
          </div>

      </div>
  </div>

  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="img/index/pastel15.jpg" alt="pastel15 img"></div>
  </div>

  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l3 s12">
          <div><img src="img/footer/LogoFooter.jpg" alt="Nyshu img"></div>
        </div>
        <div class="col l4 s12 offset-l1">
          <h5 class="grey-text">Contáctanos</h5>
          <br>
          <i class="Tiny mdi-communication-location-on grey-text"> </i>
          <span class="grey-text text-lighten-2"> Av siempre viva sur #456 Col. Anime, Jalisco México. C.P. 45555.</span>
          <br>
          <i class="Tiny mdi-communication-email grey-text"> </i>
          <span class="grey-text text-lighten-2"> contacto@nyshu.com</span>
          <br>
          <i class="Tiny mdi-communication-call grey-text"> </i>
          <span class="grey-text text-lighten-2"> 01(33)33333333</span>
        </div>
        <div class="col l3 s12 offset-l1">
          <h5 class="grey-text">Síguenos</h5>
            <br>
            <a class="grey-text text-lighten-2" href="https://www.facebook.com/pages/Nyshu/449515308527770?fref=photo"><img src="img/footer/fbCircle50.png" alt="Nyshu img"></a>
            <a class="grey-text text-lighten-2" href="http://youtube.com"><img src="img/footer/youCircle50.png" alt="Nyshu img"></a>
            <br>
            <a class="grey-text text-lighten-2" href="http://plus.google.com"><img src="img/footer/gplusCircle50.png" alt="Nyshu img"></a>
            <a class="grey-text text-lighten-2" href="https://twitter.com/nyshunyshu"><img src="img/footer/twCircle50.png" alt="Nyshu img"></a>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
          &copy; Copyright 2015 - <a class="purple-text text-lighten-2" href="http://nyshu.com.mx">Nyshu</a> - Todos los derechos reservados.
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="js/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>
